table.menu				{width:100%;border-width:0px 0px 0px 0px;background-color:#DDE4DC;padding:0 0 0 0}
td.opcMenu				{background-color:#396D60;padding-left:5px;}
td.opcNor				{background-color:#1D4F68;}
td.opcSel				{background-color:red;}
td.opcSep				{height:5px;font-size:1px}
td.opcSubMenu			{height:5px;font-size:8pt;font-weight:normal}
a.opcSubMenu:link		{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}		
a.opcSubMenu:visited	{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}	
a.opcSubMenu:active		{font-family: Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}
a.opcSubMenu:hover		{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:underline;color:#1D4F68;}
a.opcMenu:link			{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:#FFFFFF;}		
a.opcMenu:visited			{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:	#FFFFFF;}	
a.opcMenu:active			{font-family: Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:#FFFFFF;}		
a.opcMenu:hover			{font-family:Tahoma;font-size:8pt;text-decoration:underline;font-weight:bold;color:#FFFFFF;}
img.opc					{vertical-align:bottom;}
