{% extends "base.twig" %}

{% block conteudo %}
<form action="pagina.php?controller=AnexoController&metodo=postUpload" method="post" name="form" encType="multipart/form-data" >
    <input type="hidden" name="tpanId" value="{{tpanId}}" >
    <input type="hidden" name="projId" value="{{projId}}" >
    <input type="hidden" name="cntrId" value="{{cntrId}}" >
    <input type="hidden" name="anexId" value="{{anexo.anexId}}" >
    <input type="hidden" name="usuaId" value="{{usuaId}}" >
    <div id="cab">
        <p>{{tituloPagina}}</p>
    </div>
    <div id="separador" style="background-image:url(/images/pont_cinza_h.gif);">
    </div>
    <div id="form" style="width:90%;">
        <table>
            <tr>
                <td width="110">Arquivo</td>
                <td width="5">:</td>
                <td class="docCmpLivre"><input type="file" name="txtArquivo"></td>
            </tr>
            <tr>
                <td width="110">{{LabelNumero}}</td>
                <td width="5">:</td>
                <td class="docCmpLivre"><input type="text" name="txtNumero" value="{{anexo.anexNum}}" {{disabled}}></td>
            </tr>
            <tr>
                <td width="110">Título</td>
                <td width="5">:</td>
                <td class="docCmpLivre"><input type="text" name="txtNome" value="{{anexo.anexNome}}" {{disabled}} maxlength="150"></td>
            </tr>
            <tr>
                <td width="110">Revisão</td>
                <td width="5">:</td>
                <td class="docCmpLivre"><input type="text" name="txtRevNum" value="{{anexo.anexRevNum}}" maxlength="10"></td>
            </tr>
        </table>
    </div>
    <div id="comandos">
        <button type="submit" style="background-image: none; border:none; background-color: transparent; padding:0px; margin: 0px;"><img src="/images/btnSalvar.gif"></button>
        <img src="/images/btnCancelar.gif" onclick="javascript:window.close();">
    </div>
</form>
{% endblock %}
