body 
{
	border-style:none;
	border:0 0 0 0;
	margin:8 8 8 8;
	background-color:white;
}
#cab p
{
	color:red;
	text-align:left;
	font-family:tahoma;
	font-size:10pt;
	font-weight:bold;
	letter-spacing:2px;
	padding:0;
	margin:0;
}
#separador
{
	background-repeat:repeat-x;
	height:20px;
}
#form 
{
	margin-bottom-width:15px;
	margin-right:30px;
	padding-left:30px;
	padding-right:10px;
	padding-bottom:20px;
	width:100%;
	background-color:#FFFFFF;
}

#form table
{
	border-collapse:separate;
	border-spacing:4;
	width:100%;
}
#form table td input
{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	color:#1D4F68;
	border:0;
	width:100%;
}
#form td
{
	font-family:tahoma;
	font-size:8pt;
	font-weight:bold;
	color:#1D4F68;
	border:0;
}
#form td.docCmpLivre
{
	font-weight:normal;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
}
#comandos
{
	text-align:center;
}
#comandos img
{
	cursor: hand;
	border:0;
	vertical-align:middle;
	margin-left:6px;
	margin-right:6px;
}
