body.cabecalho			{border-style:none;border-width:0px 0px 0px 0px;margin:0 0 0 0;background-color:white;}
body.PopUpEntrada		{border-style:none;border-width:0px 0px 0px 0px;margin:8 8 8 8;background-color:white;}
h1						{font-family:tahoma;font-size:16pt;font-weight:bold;color:#414342;margin:0 0 0 0;padding:0 0 0 0}	
h2						{font-family:tahoma;font-size:12pt;font-weight:bold;color:#414342;margin:0 0 0 0;padding:0 0 0 0}	
h3						{font-family:tahoma;font-size:10pt;font-weight:normal;color:#3F4342;margin:0 0 0 0;padding:0 0 0 0}	
a.menuG:link			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1 1 1 1;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2 2 2 2}	
a.menuG:visited			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1 1 1 1;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2 2 2 2}	
a.menuG:active			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1 1 1 1;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2 2 2 2}		
a.menuG:hover			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:white;border-width:1 1 1 1;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2 2 2 2}
a.menuGSel:link			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2 2 2 2;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2 2 2 2}	
a.menuGSel:visited		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2 2 2 2;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2 2 2 2}	
a.menuGSel:active		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2 2 2 2;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2 2 2 2}		
a.menuGSel:hover		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:white;border-width:2 2 2 2;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2 2 2 2}
A:link					{font-family:Tahoma;font-size:8pt;text-decoration:none;color:#1D4F68;}	
A:visited				{font-family:Tahoma;font-size:8pt;text-decoration:none;color:#1D4F68;}	
A:active				{font-family:Tahoma;font-size:8pt;text-decoration:none;color:#1D4F68;}		
A:hover					{font-family:Tahoma;font-size:8pt;text-decoration:underline;font-weight:bold;color:#1D4F68;}
p.Titulo 				{font-family:Tahoma;font-size:12pt;font-weight:bold;}
p.tituloCampo			{font-family:Tahoma;font-size:8pt;font-weight:bold;color:#333333;}
p.campo					{font-family:Tahoma;font-size:8pt;font-weight:normal;}
p.tituloContrato		{font-family:Tahoma;font-size:9pt;font-weight:bold;color:White;}
table					{border-collapse:collapse;border-style:none;border-width:0 0 0 0;margin: 0px;padding: 0px;}
input					{font-family:tahoma;font-size:8pt;font-weight:normal;color: #1D4F68;}
input.campoEntrada	{font-family:tahoma;font-size:8pt;font-weight:normal;color: #333333;border: 2px inset #CCCCCC;}
td					{font-family:tahoma;font-size:10pt;font-weight:bold;color:#1D4F68;}
table.doc 			{border-collapse:separate;border-spacing:4;width:100%}
td.docTit 			{color:red;text-align:left;padding-left:4pt;font-family:tahoma;font-size:10pt;font-weight:bold;letter-spacing:2px}
td.docTit a 			{color:red;text-align:left;padding-left:0;font-family:tahoma;font-size:10pt;font-weight:bold;letter-spacing:2px;text-decoration:underline}
td.docTit table tr td 	{color:red;text-align:left;padding-left:4pt;font-family:tahoma;font-size:10pt;font-weight:bold;letter-spacing:2px;text-decoration:none}
td.docTit table tr td a	{color:red;text-align:left;padding-left:0;font-family:tahoma;font-size:10pt;font-weight:bold;letter-spacing:2px;text-decoration:underline}
td.docSubTit 		{color:red;text-align:left;padding-left:4pt;font-family:tahoma;font-size:10pt;font-weight:normal;}
td.doc	 			{font-family:tahoma;font-size:8pt;font-weight:bold;padding-left:2;color:#1D4F68;}
td.docCmpLivre 		{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border-width:1px;border-style:solid;border-color:#CCCCCC}
td.docSBorda 		{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0;}
td.docLabel 			{font-family:tahoma;font-size:8pt;font-weight:bold;color:#1D4F68;border:0;text-align:right}
td.docBotao 			{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2;border:0;cursor:hand;background-position:center center; background-repeat:no-repeat;}
a.docAnex:link		{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}		
a.docAnex:visited	{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}	
a.docAnex:active	{font-family:Tahoma;font-size:8pt;font-weight:normal;text-decoration:none;color:#1D4F68;}
a.docAnex:hover		{font-family:Tahoma;font-size:8pt;font-weight:bold  ;text-decoration:none;color:#1D4F68;}
input.docCmpLivre		{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0;width:100%}
input.docCmpLivrePar	{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0;width:100%;background-color:white}
input.docCmpLivreImPar{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0;width:100%;background-color:#F0F0F0}
textarea.docCmpLivre	{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0;width:100%}
option.docCmpLivre	{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border:0}
select.docCmpLivre	{font-family:tahoma;font-size:8pt;font-weight:normal;color:#1D4F68;border-width:1px;border-style:solid;border-color:#CCCCCC;width:100%}
tr.tituloCampo td, 
td.tituloCampo		{background-color:#006699;border:none;margin: 10px;}
tr.tituloPagina td,
td.tituloPagina		{background-color:#0099CC;padding:5px;}
select.conteudoCampo	{font-family:tahoma;font-size:8pt;font-weight:normal;width:200px;border:1px solid #3399CC;}
option.conteudoCampo	{font-family:tahoma;font-size:8pt;font-weight:normal;border: 1px solid #0099CC;}
p.tituloSubContrato		{font-family:tahoma;font-size:9pt;font-weight:bold;color: #003399;}
p.tituloSubContrato		{font-family:tahoma;font-size:9pt;font-weight:bold;color: #003399;}
tr.menuNor td,
td.menuNor				{font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-align:center;vertical-align: middle;background-color: #1D4F68;}
tr.menuSel td,
td.menuSel				{font-family:tahoma;font-size:8pt;font-weight:bold;color:#FFFFFF;text-align:center;vertical-align: middle;background-color: #5B89A4;}
tr.blocoOpcoes td,
td.blocoOpcoes			{background-color:#DDE4DC;padding:0 0 0 0}
tr.TituloPasta td,
td.TituloPasta			{padding:4;color:white;font-size:8pt;border-bottom-style:solid;border-bottom-color:#ABB0AA;border-bottom-width:1;font-size:16pt;font-weight:bold;background-color:#DDE4DC}
tr.TituloUsuario td,
td.TituloUsuario		{padding:0;font-size:8pt;font-weight:normal;border-bottom-style:solid;border-bottom-color:#ABB0AA;border-bottom-width:1;background-color:#DDE4DC }
tr.SeparadorPreto td,
td.SeparadorPreto		{padding:0;color:white;font-family:small fonts;font-size:4pt;background-color:black;}
tr.blocoPagina td,
td.blocoPagina			{background-color: #FFFFFF;}
tr.conteudoTitulo td,
td.conteudoTitulo		{font-family:tahoma;font-size:10pt;font-weight:bold;color:red;}
table.grid 				{border-collapse:collapse;width:100%}
table.grid tr td	{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	padding:2px;
	border-top:1px solid #F0F0F0; 
	border-bottom:1px solid #F0F0F0;
}
tr.GridBotao td,
td.GridBotao 			{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;cursor:hand;background-position:center center; background-repeat:no-repeat;}
tr.GridCabGrupo td,
td.GridCabGrupo			{font-family:tahoma;font-size:8pt;font-weight:bold;border-bottom:2px solid #999999;border-top:2px solid #999999;background-color:#dde8ee}
tr.GridCab td,
td.GridCab ,
table.grid tr td.GridCab{
	font-family:tahoma;
	font-size:8pt;
	font-weight:bold;
	border-top:none;
	border-bottom:solid 2px #999999;
	vertical-align:bottom;
}
tr.GridCabLinha td,
td.GridCabLinha			{font-family:tahoma;font-size:8pt;font-weight:bold;border-bottom:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;background-color:#dde8ee;padding-left:5px}
tr.GridCabLinhaCanc td,
td.GridCabLinhaCanc		{color:#666666;font-family:tahoma;font-size:8pt;font-weight:bold;border-bottom:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;background-color:#F0F0F0;padding-left:5px}
tr.GridLinha td,
td.GridLinha 			{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC}
tr.GridLinhaCanc td,
td.GridLinhaCanc		{color:#666666;font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC;background-color:#F0F0F0}
tr.GridLinhaParO td,
td.GridLinhaParO		{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC;background-color:white}
tr.GridLinhaImparO td,
td.GridLinhaImparO		{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC;background-color:#F0F0F0}
tr.GridLinhaParCond td,
td.GridLinhaParCond		{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC;background-color:white}
tr.GridLinhaImparCond td,
td.GridLinhaImparCond   {font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC;background-color:#F0F0F0}
tr.GridLinhaCond td,
td.GridLinhaCond		{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border-bottom:1px solid #CCCCCC}
tr.GridLinhaTot td,
td.GridLinhaTot			{font-family:tahoma;font-size:8pt;font-weight:bold;background-color:#dde8ee;padding:0 0 0 5;border-bottom:2px solid #999999;border-top:2px solid #999999}
tr.GridSLinha td,
td.GridSLinha, table.grid tr td.GridSLinha 			{font-family:tahoma;font-size:8pt;font-weight:normal;padding:2px;border:0}
tr.GridRodape td
td.GridRodape, table.grid tr td.GridRodape			{font-family:tahoma;font-size:8pt;font-weight:bold;border-top:2px solid #999999;border-bottom:none;}
tr.Disable td,
td.Disable			    {font-family:tahoma;font-size:8pt;font-weight:bold;color:#999999}
a.GridCab:link, table.grid tr td.GridCab a.GridCab:link 			
{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:#1D4F68;}		
a.GridCab:visited, table.grid tr td.GridCab a.GridCab:visited		{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:#1D4F68;}	
a.GridCab:active, table.grid tr td.GridCab a.GridCab:archive		{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:none;color:#1D4F68;}
a.GridCab:hover, table.grid tr td.GridCab a.GridCab:hover			{font-family:Tahoma;font-size:8pt;font-weight:bold;text-decoration:underline;color:#1D4F68;}
tr.labelTitulo td,
td.labelTitulo			{font-family:tahoma;font-size:10pt;font-weight:bold;color:red;}
p.tituloMenu			{font-family:verdana;font-size:8pt;font-weight:bold;color:white;}
table.SubGrupo			{background-color: #0099CC;border: 4px solid #0099CC;}
a.menuNor:link          {font-family:tahoma;font-size:8pt;font-weight:bold;color:#CCCCCC;text-decoration:none}
a.menuNor:visited       {font-family:tahoma;font-size:8pt;font-weight:bold;color:#CCCCCC;text-decoration:none}
a.menuNor:active        {font-family:tahoma;font-size:8pt;font-weight:bold;color:#CCCCCC;text-decoration:none}
a.menuNor:hover         {font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-decoration:none}
a.menuSel:link 			{font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-decoration:none}
a.menuSel:visited 		{font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-decoration:none}
a.menuSel:active 		{font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-decoration:none}
a.menuSel:hover 		{font-family:tahoma;font-size:8pt;font-weight:bold;color:white;text-decoration:none}
img.botao				{cursor: hand;border:0;vertical-align:middle}
img						{border:0;vertical-align:middle}
tr.tipo td,
td.tipo					{background-color:#dde8ee;text-align:left;font-family:tahoma;font-size:8pt;font-weight:bold;border-width:1px;border-style:solid;padding:0;}
p.projeto			{font-size:85%;padding:5px;margin-bottom:5px;color:red;width:100%;background-color:c0c0c0;}
tr.GridLinhaPar td,
td.GridLinhaPar{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	padding:2px;
	border-bottom-width:1px;
	border-top-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:#F0F0F0;
}

tr.GridLinhaImpar td,
td.GridLinhaImpar{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	padding:2px;
	background-color:transparent;
	border-bottom-width:1px;
	border-top-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:#F0F0F0;
}

tr.GridLinhaPar td a, tr.GridLinhaImpar td a,
td.GridLinhaPar a, td.GridLinhaImpar a
, table.grid tr td a
{
	font-weight:normal;
	text-decoration:underline;
}
tr.GridLinhaPar td a:hover, tr.GridLinhaImpar td a:hover,
td.GridLinhaPar a:hover, td.GridLinhaImpar a:hover
, table.grid tr td a:hover{
	font-weight:normal;
	text-decoration:underline;
}
table.grid td.separador{
	border:none;
}
tr.Variacao td,
td.Variacao				{background-color:#F0F0F0;text-align:center;font-family:tahoma;font-size:8pt;font-weight:bold;border-top-width:2px;border-bottom-width:2px;border-top-style:solid;border-bottom-style:solid;padding:0;}
tr.tipo td,
td.tipo					{background-color:#dde8ee;text-align:left;font-family:tahoma;font-size:8pt;font-weight:bold;border:0;border-style:none;padding-left:6;}
div#form		{padding-right:10px;}
body{
	background-color:#FFFFFF;
	border-style:none;
	border:0;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
#cab		{background-color:#396D60;
			 background-repeat:repeat-y;
			 background-position:right;
 			 width: 100%;
			 height: 48px;
			 text-align: left;
			 vertical-align:middle;
			 margin:0;
			 padding:0;
			 border:0;
			 border-bottom-style:solid;
			 border-bottom-width:5px;
			 border-bottom-color:black;
}
#cab ul      {list-style-image:none;
			  list-style-type:none;
			  display:inline;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:0;
	margin-top:0; /* cancels gap caused by top padding in Opera 7.54 */
	margin-left:0;
}
#cab ul li   
{	list-style-image:none;
	list-style-type:none;
	display:inline;
	padding-left:0;
	padding-right:0;
}
#cab a:link			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2px 2px 2px 2px}	
#cab a:visited			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2px 2px 2px 2px}	
#cab a:active			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2px 2px 2px 2px}		
#cab a:hover			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:white;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;border-color:#666666 #666666 #666666 #666666;padding:2px 2px 2px 2px}
#cab a.Sel:link			{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2px 2px 2px 2px;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2px 2px 2px 2px}	
#cab a.Sel:visited		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2px 2px 2px 2px;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2px 2px 2px 2px}	
#cab a.Sel:active		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:#EFFFFF;border-width:2px 2px 2px 2px;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2px 2px 2px 2px}		
#cab a.Sel:hover		{font-family:tahoma;font-size:8pt;text-decoration:none;font-weight:bold;color:white;border-width:2px 2px 2px 2px;border-style:solid solid solid solid;border-color:#CCCCCC #000000 #000000 #CCCCCC;padding:2px 2px 2px 2px}
#Logo{
float:right;
}
#status		
{
	background-color:#DDE4DC;
	 width: 100%;
	 height: 35px;
	 text-align: left;
	 vertical-align:middle;
	 margin:0;
	 padding:0;
	 border:0;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ABB0AA;
}
#statusx
{
	height: 25px;
    text-align: left;
	 margin:0px;
	padding:0px;
	padding-bottom:4px;
	padding-top:6px;
	padding-left:5px;
	 border:0px;
}
#status p
{	margin:0px;
	padding:0px;
	border:0px;
	display:inline;
}
#status h1
{	vertical-align:bottom;
    padding:0px;
	margin:0px;
	display:inline;
}
#menuVertical		
{
	background-color:#DDE4DC;
	float:left;
	width: 180px;
	text-align: left;
	vertical-align:middle;
	height:100%;
	padding:0;
	margin:0;
	border:0;
	
}
#menuVertical ul
{
	list-style-image:none;
	list-style-type:none;
	padding:0;
	padding-top:10px;
	margin:0;
	background-color:transparent;
	
}
#menuVertical ul li {
	border:0;	
	border-left-style:solid;
	border-left-width:16px;
	border-left-color:#1D4F68;
	padding:0;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:5px;
	margin-top:5px;
	background-color:#396D60;
}
#menuVertical ul li.selecionado {
	border-left-color:red;
}
#menuVertical ul li.submenu {
	border-left-color:#DDE4DC;
	background-color:#DDE4DC;
}
#menuVertical ul li ul
{
	list-style-image:none;
	list-style-type:none;
	padding:0;
	margin:0;
	background-color:#DDE4DC;
}
#menuVertical ul li ul li {
	border:0;	
	border-left-style:solid;
	border-left-width:5px;
	border-left-color:#DDE4DC;
	padding:0;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:4px;
	margin:0;
	margin-bottom:0px;
	background-color:#DDE4DC;
}
#menuVertical ul li ul li a{
	padding:0;
	margin:0;
	border:0;
}

#conteudo	
{
	background-color:#FFFFFF;
	width: 100%;
	text-align: left;
	margin-left:190px;
	display:inline;
}

img.link {
	border:0px;
	cursor:pointer;
	padding:0px;
	margin:0px;
	margin-left:2px;
	margin-right:2px;
}

div#procover {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;	
	-moz-opacity:0.4;
	filter:alpha(opacity=40);
}
