<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <title>PRJ::Controle de Projetos</title>
        <link rel="stylesheet" type="text/css" href="/EstiloPopUp.css">
    </head>
    <body>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>
