<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>::PRJ:: Controle remoto de projetos</title>
        <meta name="vs_defaultClientScript" content="JavaScript">
        <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
        <link rel="stylesheet" type="text/css" href="/Styles.css">
    </head>
    <body class="cabecalho" onUnload="javascript:window.opener.location.reload();" style="margin:8px 8px 8px 8px">
        <table width="100%" height="100%">
            <tr>
                <td width="100%" height="20" class="docTit">{{TituloMsg}}</td>
            </tr>
            <tr>
                <td background="../images/pont_cinza_h.gif" style="height:2px"></td>
            </tr>
            <tr>
                <td class="docLabel" style="text-align:center">{{Msg}}</td>
            </tr>
        </table>
        <script language="javascript">
            setTimeout("window.close()", 1500);
        </script>
    </body>
</html>