<%@ Page Language="vb" AutoEventWireup="false" Codebehind="gerMensagem.aspx.vb" Inherits="prj.gerMensagem"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>gerMensagem</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<table width="100%" height="100%">
				<tr>
					<td height="20" class="docTit">
						<asp:Label id="lblTitulo" runat="server" CssClass="docTit"></asp:Label></td>
				</tr>
				<tr>
					<td background="../images/pont_cinza_h.gif" style="HEIGHT:2px"></td>
				</tr>
				<tr>
					<td class="docLabel" align="middle">
						<asp:Label id="lblMensagem" runat="server" CssClass="docLabel"></asp:Label></td>
				</tr>
			</table>
			<SCRIPT language="javascript">
				setTimeout("window.close()",1500); 
			</SCRIPT>
		</form>
	</body>
</HTML>
