html body {
	height: 100%;
	width: 100%!important;
	font: 12px Arial, sans-serif;
	margin: 0;
	padding: 0;
	}
select {display: none;}
#over {
	background:  url(/i/shadowlight.gif) repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity:0.80;
	}
#box, #box2 {
	height: 350px;
	overflow: none;
	border: 5px ridge #ccc;
	z-index: 150;
	background: #fff;
	position: relative;
	padding: 10px;
	top: -5px; /* these two define the shadow 'offset'*/
	left: -5px; /*...*/
	}
.sh{
	position: absolute;
	top:100px;
	z-index: 1000;
	width: 450px;
	right: 30%;
	background: url(/i/shadow.png) repeat !important;
	background: url(/i/shadowlight.gif) repeat;
	}
.bar{
	background: #ddd;
	text-align: right;
	margin: -5px;
	padding: 5px
	}
h1 { color: #006;}
.bar2 {
	background: #ddd url(/i/dragbar.gif) no-repeat center left;
	text-align: right;
	margin: -5px;
	padding: 5px 
	}
.bar a {
	border: 1px solid #777;
	color: #777;
	text-decoration: none;
	font-size: 10px;
	padding: 0 5px; 
	}