div.divwindow{
    border:solid 2px #396D60;
    background-color: #fff;
    /*background-color: transparent;*/
    width: 500px;
}

div.sep{
    background-color: #FFF;
    border-bottom: solid 1px #040;
    height:1px;
    font-size:0px;
}

div.div_titulo{
    background-color: #396D60;
    border: solid 1px #040;
    padding:3px;
    height:20px;
    font-size:12px;
    font-weight:bold;
    color:#FFF;
}

input.cpNum
{
    width: 100px;
    text-align:right;
}

.cpTexto {
    width: 99.7%;
    text-align:left;
}

input.cpCodigo
{
    width: 150px;
    text-align:center;
}


input.cpCheck
{
    border: 0;
    margin:0;
    padding:0;
    background-color:Transparent;
}

div.barrabotoes
{
    border:0px;
    padding:6px;
    text-align:center;
    height:23px;
    margin-top:6px;
    width:99.7%;
}

table.entradadados
{
    border-collapse: collapse ;
    border:0px;
    margin:0px;
    padding:0px;
    width:99.7%;
}
table.entradadados tr td
{
    font-family:verdana, Tahoma;
    font-size:8pt;
    font-weight:bold;
    border:0px;
    padding:0px;
    padding-top:6px;
    margin:0px;
}
table.entradadados tr th
{
    font-family:verdana, Tahoma;
    font-size:8pt;
    font-weight:bold;
    text-align:left;
    color:#396D60;
    vertical-align:middle;
    background-color:#DDE4DC;
	font-family:tahoma;
	font-size:8pt;
	font-weight:bold;
	color:#1D4F68;
	border:0;
	text-align:right;
	vertical-align:top;
	padding-top:8px;
    background-color:transparent;
}
table.entradadados tr td select
{
    font-family:Verdana, Tahoma, Arial;
    font-size:8pt;
    font-weight:normal;
    width:99.7%;
	padding:0;
	margin:0;
}
table.entradadados tr td input
{
    font-family:Verdana, Tahoma, Arial;
    font-size:8pt;
    font-weight:normal;
	padding:0;
	margin:0;
}
table.entradadados tr td textarea
{
    font-family:Verdana, Tahoma, Arial;
    font-size:8pt;
    font-weight:normal;
}
table.entradadados tr td a img
{
    border:0;
    margin:0;
    padding:0;
    vertical-align:top;
    padding-right:15px;
    cursor:hand;
}