body {font-family:Verdana, Tahoma;}
h1.titulowbs{font-weight:bold; font-family:Verdana, Tahoma; font-size:14pt; color: #1d4f68}

div.divBotoes {border-top:2px solid #999; border-bottom:2px solid #999;padding:5px;text-align:center}

table.filtro {width:100%;font-family:Verdana, Tahoma;font-size:8pt; margin:0px; margin-bottom:5px; margin-top:1px;border-bottom:2px solid #999;border-top:2px solid #999;}
table.filtro  tr.head{font-size:12pt;color:#1d4f68; background-color:#ffffff; font-weight:bold;border-bottom:2px solid #999;border-top:2px solid #999;border-left:none;border-right:none;text-align:left;}
table.filtro  tr.head th{font-size:12pt;color:#1d4f68; background-color:#ffffff; font-weight:bold;border-bottom:2px solid #999;border-top:2px solid #999;border-left:none;border-right:none;text-align:left;}
table.filtro  tbody tr {background-color:#DDE4DC;text-align:left;border-bottom:solid 1px #666666;color:#396D60;vertical-align:middle;padding-top:6px;}
table.filtro  tbody tr th{background-color:#DDE4DC; font-weight:bold;}
table.filtro  tbody tr td{background-color:#DDE4DC; border:0px;padding:0px;padding-top:6px;margin:0px;}
table.filtro  tr td.acao{background-color:#ffffff;text-align:center;vertical-align:middle;width:120px;border-bottom:2px solid #999;border-top:2px solid #999;border-left:none;border-right:none;}

table.gridWBS {
	width:auto;
	border-collapse:collapse; 
	border:none; 
	border-bottom:2px solid #999; 
/*	border-top:2px solid #999; */
	margin-bottom:2px;
}
table.gridWBS thead{
	border-collapse:collapse; 
	border:0px; 
	border-bottom:2px solid #999; 
/*	border-top:2px solid #999; */
	margin-bottom:2px;
}
table.gridWBS thead tr th, 
table.gridWBS tbody tr th{font-family:tahoma;font-size:8pt; text-align:center; font-weight:bold; color:#1D4F68; vertical-align:bottom;}
table.gridWBS tbody tr td{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	border:none;
/*border-bottom:1px solid #999999;*/
	padding: 2px;
/*	padding-left:2px;
	padding-right:2px;*/
	vertical-align:middle;
}

table.gridWBS tbody tr.fcn td{background-color:#396d60;font-weight:bold; color:#ffffff; vertical-align:middle; border:1px dotted #ffffff; padding:0px; padding-left:4px;padding-right:4px;}
table.gridWBS tbody tr.fcndet {height:auto;}
table.gridWBS tbody tr.fcndet td{height:auto;border-left:0px;border-right:0px;}
table.gridWBS tbody tr td.cpInd {font-size:6pt;font-weight:bold; text-align:center; filter:Alpha(opacity=65);-moz-opacity:.65;}
table.gridWBS tbody tr.identlevel td,
span.identlevel{
/*	background-color:#DDE4DC; */
	background-color:#FFFFFF; 
	font-weight:bold; 
/*	border-bottom:2px solid #999;
	border-top:2px solid #999;*/
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:2px;
	border-left:none;
	border-right:none;
}
table.gridWBS tbody tr.trDestaque td, 
span.trDestaque{background-color:#ff5050; color: #ffffff; font-weight:bold; border-bottom:1px solid #550000;}
table.gridWBS tbody tr.trDestaque td input{color: #ffffff; font-weight:normal;}
table.gridWBS tbody tr.trFinalizado td, 
span.trFinalizado{background-color:#30CC30; color:#003300; font-weight:bold;border-bottom:1px solid #005500;}
table.gridWBS tbody tr.trFinalizado td input{font-weight:normal;}
table.gridWBS tbody tr.impar td, 
span.impar{background-color:#F0F0F0;}
table.gridWBS tbody tr.par td, 
span.par{background-color:#FFF;}

table.gridWBS input {
	height:16px;
	border:solid 1px #ccc;
	/*border-bottom:groove 2px #999;
	border-right:groove 2px #999;*/
	background:#fff;
	color:#000;
}

input.cpLCod, 
td.cpLCod{text-align:center;}
input.cpLTexto, 
td.cpLTexto{text-align:left;}
input.cpLValor, 
td.cpLValor{text-align:right;}
input.cpLData, 
td.cpLData{text-align:center; text-align:right}
input.cpInativo, 
td.cpInativo{background: transparent;border:0px;width:auto;height:auto;}
input.cpBt, 
input.outBt{border:solid 1px #016521; border-bottom:solid 2px #aaa; border-right:solid 2px #aaa; text-transform:uppercase; color:#ffffff; background-color:#396d60; font-size:10pt; font-weight:bold; margin:0px; margin-left:2px; margin-right:2px;}
input.cpBt:hover, 
input.overBt{border:solid 1px #016521; border-bottom:solid 2px #aaa; border-right:solid 2px #aaa; text-transform:uppercase; font-size:10pt; font-weight:bold; margin:0px; margin-left:2px; margin-right:2px; background-color:#128753; color:#ddffdd; cursor:pointer;}
input.checkbox {border:0px;}

img.imglink:hover {cursor:pointer;}

td.defLegenda {width:1%}
td.defLegenda span{border:1px solid #888888; width:25px}
td.descLegenda {font-weight:bold; margin-left:3px;width:20%}

table.tbErro {border-collapse:collapse;width:100%;font-family:tahoma;font-size:8pt;color:#dfd;}
table.tbErro th {font-weight:bold;border-top:solid 2px #999;border-bottom:solid 2px #999;background-color:#128753;text-align:center;}
table.tbErro td {font-weight:normal;}